@import 'tailwindcss';

/* Color design tokens (Tailwind v4 @theme) */
@theme {
  --font-sans: 'Inter', sans-serif;

  --color-text-primary: #09090B;
  --color-text-secondary: #71717A;

  --color-primary-brand: #6144DD;
  --color-primary-border: #E4E4E7;
  --color-secondary-border: #D0DCE7;

  --color-primary-green: #15803D;
  --color-secondary-green: #DCFCE7;

  --color-primary-yellow: #FEEA70;
  --color-secondary-yellow: #ECDF8D;

  --color-primary-blue: #DBEAFE;
  --color-secondary-blue: #E5F3FF;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
